// Estilos del index

body {
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .phrase {
      display: flex;
      justify-content: center;
      margin-top: 10rem;
      color: aliceblue;
      height: 50vh;
      p{
          font-family: "Dawning of a New Day", cursive;
          font-size: 3rem;
      }
    }
  }